{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
    {% trans "Sign Out" %}
    {% endelement %}
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
    {% slot body %}
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% endslot %}
    {% slot actions %}
    {% element button type="submit" %}
    {% trans 'Sign Out' %}
    {% endelement %}
    {% endslot %}
    {% endelement %}
{% endblock content %}


<div>
    <strong>Menu:</strong>
    <ul>
        <li>
            <a href="/accounts/email/">Change Email</a>
        </li>
        <li>
            <a href="/accounts/logout/">Sign Out</a>
        </li>
    </ul>
</div>
<h1>
    Sign Out
</h1>
<p>Are you sure you want to sign out?</p>
<form method="post" action="/accounts/logout/">
    <input type="hidden" name="csrfmiddlewaretoken"
        value="LhHQ60rlEio6yh4vxPx1UfoES2cCPctsin2tYZaS0ZKnvtT0MDnQz4syeHM6emPB">
    <button type="submit">
        Sign Out
    </button>

</form>