{% extends "base.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}
{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center mt-5">
                        {% trans "Sign Up" %}
                    </h3>
                    <p class="text-center py-3">
                        {% blocktrans %}Already have an account? Then please <a class="login-signup-link"
                            href="{{ login_url }}"><strong>sign
                                in</strong></a>.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <form class="signup" method="POST" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <!-- {{ form.as_p}} -->
                        <div>
                            <p>
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </p>
                            <p>
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </p>
                            <p>
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                            </p>
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                            <p>
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                            </p>


                        </div>

                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-secondary my-3 form-button" type="submit">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}