/* --------- GENERAL STYLE ---------- */
body,
p {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
.heading-one {
    font-family: 'Roboto Slab', serif;
}

/* Optional: Accent Font */
.special-text {
    font-family: 'Pacifico', cursive;
}

/* Navbar */
button.navbar-toggler {
    border: none;
}

.hover-element:hover {
    color: #630a0a;
}

/* Footer */
footer ul {
    margin: 0;
    padding-top: 1rem;
}

.copyright-text {
    padding-bottom: 1rem;
}

.author,
a {
    text-decoration: none;
    color: #161515;
}

.no-margin-or-padding {
    margin: 0;
    padding: 0;
}

/* Style login page */
form.login span.helptext {
    display: none;
}

form.login,
form.singup {
    width: 100%;
}

form p {
    padding-top: 10px;
}

form.login p label {
    box-sizing: border-box;
}

#id_login,
#id_password {
    width: 100%;
    padding: 5px;
}

.form-button {
    width: 100%;
}

.errorlist {
    color: blue;
    background-color: lightgreen;
    width: inherit;
    text-align: left;
    border: 1px solid green;
    border-radius: 4px;
    list-style-type: none;
    margin-top: 10px;
    font-size: 100%;
}

form.signup p input {
    width: 80%;
}

form.signup ul li {
    font-size: small;
    list-style-type: none;
}

/* ----STYLE RECIPE DETAIL PAGE ---------- */
/* General recipe detail styles */
.box-holder-background {
    background-color: white;
}

.inner-holder-box {
    background-color: lightgray;
    height: inherit;
}

.round-border {
    border-radius: 8px;
}

.dish-image {
    width: 100%;
}

.recipe-text {
    min-height: 75px;
}

.taskbar {
    background-color: #3b3a3a;
    /* Dark color for taskbar background */
    color: white;
    /* Light color for text/icons */
}

.control-button {
    border: 2px solid;
    font-weight: bold;
    letter-spacing: 1px;
    width: 30%;
    /* Set the width to 33% of the parent container */
    box-sizing: border-box;
    /* Include border in the width calculation */
    display: inline-block;
    /* Ensure the buttons appear on the same line */
    margin-right: 1%;
}

/* Rating stars style */
.star-rating i:hover,
.star-rating i.active,
.full-stars,
.half-stars {
    color: #dfb705;
    transition: all 3s ease-in-out;
    opacity: 1;

}

.full-stars,
.half-stars {
    color: #dfb705;
    text-shadow: 0 0 3px #000;
}

#id_body {
    max-height: 150px;
    margin-bottom: 1rem;
}

#review-button {
    margin-bottom: 2rem;
}

#review-form {
    margin-top: 2rem;
}

.review-body-holder textarea:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Adjust values as needed */
    transition: box-shadow 0.3s ease;
}

/* Style likes */
.btn-like {
    border: none;
    background: transparent;
}

.like-heart {
    text-shadow: 0 0 3px #000;
}

.fa-heart {
    color: rgb(233, 6, 6);
}

/* Add recipe style */
/* Hide the checkbox */
.formset-row input[type="checkbox"] {
    display: none;
}

#always-on {
    display: block;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* style recipe instructions */
.steps {
    font-size: large;
    font-weight: bold;
}

/* -------- STYLE RECIPES PAGE ---------- */
/* recipe card */
.recipe-card-container {
    min-height: 400px;
}

.recipe-card:hover {
    transform: scale(1.025);
    filter: drop-shadow(0 0 8px #2759fc);
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
}

.image-container:hover .overlay {
    opacity: 1;
}

#add-recipe-button {
    color: #3bf83b;
}

#add-recipe-button:hover {
    color: #000;
    background-color: #3bf83b;
}

/* Custom CSS for collapsing on hover */
.collapse-on-hover:hover .collapse {
    display: block;
}

/* -----STYLE ADD RECIPE PAGE ---------- */

.title-box input {
    font-family: 'Pacifico', cursive;
    padding: 5px;
    display: block;
}

.recipe-form input,
.recipe-form textarea,
.recipe-form select {
    border-radius: 8px;
    padding: 5px;
    resize: vertical;
}

.instruction-input-field {
    width: 80%;
    border: 1px solid gray;
}

.title-box input {
    width: 100%;
}

.transparent-image {
    opacity: 0.3;
}

.recipe-form textarea {
    width: 100%;
    max-height: 75px;
}

.list-button {
    font-size: x-large;
    margin-bottom: 5px;
}

ol {
    list-style-type: none;
    padding: 0;
}

.remove-instruction,
.remove-ingredient {
    color: red;
}

.add-instruction,
.add-ingredient {
    color: green;
}

/* .instruction-box>input[name="featured_image"] {
    border-radius: 8px;
    padding: 5px;
    color: blue;
    height: 25px;
} */

.ingredient-name-field {
    width: 50%;
}

.ingredient-quantity,
.ingredient-unit {
    color: #000;
}

.time-field {
    width: 25%;
}


/* -----Style home page --------- */

.background-image {
    background-image: url('https://res.cloudinary.com/dcrbeonr9/image/upload/v1702825129/hero-image_hxgrwo.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* position: relative; */
}

/* background image overlay */
.hero.background-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero-text {
    color: #f4fbfc;
    text-shadow: 0 0 4px #000;
    letter-spacing: 1px;
}

.hero-box {
    z-index: 2;
}

.hero-box a {
    border: 2px solid;
    box-shadow: 0 4px 8px rgba(252, 252, 252, 0.315);
}

.info-text {
    border: 2px solid red;
    min-height: 150px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px rgba(252, 252, 252, 0.315);
    min-width: 260px;
}

/* Styles for the printed version */

@media print {

    .no-print {
        display: none;
    }

    .print-size {
        width: 50%;
    }

    h1 {
        font-size: 24px;
    }

    h2,
    h3,
    h4,
    h5 {
        font-size: 16px;
    }

    p,
    li,
    td,
    th {
        font-size: 12px;
    }

    .print-margin {
        margin-top: 1px;
        margin-bottom: 0;
        padding: 0;
    }

    .recipe-text {
        min-height: 15px;
    }
}

/* Media query for screens 1000px and below */
@media (max-width: 1440px) {
    .background-image {
        height: 40vh;
    }
}

@media (max-width: 1200px) {
    .recipe-card-container {
        min-height: 350px;
    }
}


@media (max-width: 992px) {
    .recipe-card-container {
        min-height: 400px;
    }
}

@media (max-width: 768px) {
    .recipe-card-container {
        min-height: 350px;
    }
}

@media (max-width: 576px) {
    .recipe-card-container {
        min-height: 300px;
    }

    .info-text {
    margin-bottom: 25px;
    margin-left: 5%;
    }
}