/* --------- GENERAL STYLE ---------- */
body,
p {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
.heading-one {
    font-family: 'Roboto Slab', serif;
}

/* Optional: Accent Font */
.special-text {
    font-family: 'Pacifico', cursive;
}

/* Footer */
footer ul {
    margin: 0;
    padding-top: 1rem;
}

.copyright-text {
    padding-bottom: 1rem;
}

.author,
a {
    color: red;
    margin: 4px;
    text-transform: uppercase;
    text-decoration: none;
}

.no-margin-or-padding {
    margin: 0;
    padding: 0;
}

/* Style login page */
form.login span.helptext {
    display: none;
}

form.login,
form.singup {
    width: 100%;
}

form p {
    padding-top: 10px;
}

form.login p label {
    box-sizing: border-box;
}

#id_login,
#id_password {
    width: 100%;
    padding: 5px;
}

.form-button {
    width: 100%;
}

.errorlist {
    color: blue;
    background-color: lightgreen;
    width: inherit;
    text-align: left;
    border: 1px solid green;
    border-radius: 4px;
    list-style-type: none;
    margin-top: 10px;
    font-size: 100%;
}

form.signup p input {
    width: 80%;
}

form.signup ul li {
    font-size: small;
    list-style-type: none;
}

/* ----STYLE RECIPE DETAIL PAGE ---------- */
/* General recipe detail styles */
.box-holder-background {
    background-color: white;
}

.inner-holder-box {
    background-color: lightgray;
    height: inherit;
}

.round-border {
    border-radius: 8px;
}

.dish-image {
    width: 100%;
}

.recipe-text {
    min-height: 75px;
}

.taskbar {
    background-color: #3b3a3a;
    /* Dark color for taskbar background */
    color: white;
    /* Light color for text/icons */
}

.control-button {
    border: 2px solid;
    font-weight: bold;
    letter-spacing: 1px;
    width: 30%;
    /* Set the width to 33% of the parent container */
    box-sizing: border-box;
    /* Include border in the width calculation */
    display: inline-block;
    /* Ensure the buttons appear on the same line */
    margin-right: 1%;
}

/* Rating stars style */
.star-rating i:hover,
.star-rating i.active,
.full-stars,
.half-stars {
    color: #dfb705;
    transition: all 3s ease-in-out;
    opacity: 1;

}

.full-stars,
.half-stars {
    color: #dfb705;
    text-shadow: 0 0 3px #000;
}

#id_body {
    max-height: 150px;
    margin-bottom: 1rem;
}

#review-button {
    margin-bottom: 2rem;
}

#review-form {
    margin-top: 2rem;
}

.review-body-holder textarea:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Adjust values as needed */
    transition: box-shadow 0.3s ease;
}

/* Style likes */
.btn-like {
    border: none;
    background: transparent;
}

.like-heart {
    text-shadow: 0 0 3px #000;
}

.fa-heart {
    color: rgb(233, 6, 6);
}

/* -------- STYLE INDEX PAGE ---------- */
/* recipe card */
.recipe-card:hover {
    transform: scale(1.025);
    filter: drop-shadow(0 0 8px #2759fc);
    opacity: 1;
}

/* Add recipe style */
/* Hide the checkbox */
.formset-row input[type="checkbox"] {
    display: none;
}

#always-on {
    display: block;
}

.hide {
    display: none;
}

.show {
    display: block;
}



/* style recipe instructions */
.steps {
    font-size: large;
    font-weight: bold;
}

/* -----STYLE ADD RECIPE PAGE ---------- */

.title-box input {
    font-family: 'Pacifico', cursive;
    padding: 5px;
    display: block;
}

.recipe-form input,
.recipe-form textarea,
.recipe-form select {
    border-radius: 8px;
    padding: 5px;
    resize: vertical;
}

.instruction-input-field {
    width: 80%;
    border: 1px solid gray;
}

.title-box input {
    width: 100%;
}

.transparent-image {
    opacity: 0.3;
}

.recipe-form textarea {
    width: 100%;
    max-height: 75px;
}

.list-button {
    font-size: x-large
}

ol {
    list-style-type: none;
    padding: 0;
}

.remove-instruction,
.remove-ingredient {
    color: red;
}

.add-instruction,
.add-ingredient {
    color: green;
}

/* .instruction-box>input[name="featured_image"] {
    border-radius: 8px;
    padding: 5px;
    color: blue;
    height: 25px;
} */

/* .ingredient-name {
    width: 50%;
} */

.ingredient-quantity,
.ingredient-unit {
    color: #000;
}



/* Styles for the printed version */

@media print {

    .no-print {
        display: none;
    }

    .print-size {
        width: 50%;
    }

    h1 {
        font-size: 24px;
    }

    h2,
    h3,
    h4,
    h5 {
        font-size: 16px;
    }

    p,
    li,
    td,
    th {
        font-size: 12px;
    }

    .print-margin {
        margin-top: 1px;
        margin-bottom: 0;
        padding: 0;
    }

    .recipe-text {
        min-height: 15px;
    }
}