body, 
p {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, .heading-one {
    font-family: 'Roboto Slab', serif;
}

/* Optional: Accent Font */
.special-text {
    font-family: 'Pacifico', cursive;
}

footer ul {
    margin: 0;
    padding-top: 1rem;
}

.copyright-text {
    padding-bottom: 1rem;
}

.author {
    color: red;
    margin: 4px;
    text-transform: uppercase;
}