{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<!-- Leave page modal -->
<!-- <div id="leaveRecipe" class="modal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Leave Page</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to leave? Any unsaved changes will be lost.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Leave</button>
         </div>
      </div>
   </div>
</div> -->

<div class="container-lg">

   <div class="row">
      <div class="col-12 text-center py-4">
         <h1 class="special-text">Add New Recipe:</h1>
      </div>
      <div class="col-md-8 offset-md-2 col-12 print-size">
         <form method="post" enctype="multipart/form-data" action="{% url 'add_recipe' %}" id="add-recipe-form"
            class="recipe-form">
            {% csrf_token %}
            <div class="row">
               <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 title-box">
                  <h2>{{ form.title.label_tag }}</h2>
                  {{ form.title }}
               </div>
               <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 form-group instruction-box flex-fill">
                  <h2>Instructions:</h2>
                  <textarea name="instructions" cols="40" rows="10" class="instruction-steps" id="id_instructions"
                     style="display: none;"></textarea>
                  <ol class="instruction-list">
                     <li class="my-1 instruction-list-item">
                        <input type="text" class="d-inline form-control instruction-input-field" required
                           placeholder="Add cooking instruction here...">
                        <button type="button" class="btn-like list-button remove-instruction">
                           <i class="fa-solid fa-circle-minus"></i>
                        </button>
                        <button type="button" name="add-instruction" class="btn-like list-button add-instruction">
                           <i class="fa-solid fa-circle-plus"></i>
                        </button>
                     </li>
                  </ol>
               </div>
               <!-- Recipe image section -->
               <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 add-image">
                  <div class="row">
                     <div class="col-md-8 offset-md-2 col-12 my-2">
                        <img
                           src="https://res.cloudinary.com/dcrbeonr9/image/upload/v1700598678/image-placeholder_gmlf30.png"
                           alt="Image coming soon placeholder" class="dish-image round-border transparent-image"
                           style="width: 100%;">
                     </div>
                     <div class="col-12">
                        <h2>Add Recipe Image Here:</h2>
                        {{ form.featured_image }}
                     </div>
                  </div>
               </div>
               <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                  <h2>Provide Short Description:</h2>
                  {{ form.excerpt }}
               </div>
               <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                  <div class="row">
                     <div class="col-md-6 col-12">
                        <h2>Prep Time:</h2>
                        {{ form.prep_time }} <span>minutes</span>
                     </div>
                     <div class="col-md-6 col-12">
                        <h2>Cook Time: </h2>
                        {{ form.cook_time }} <span>minutes</span>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                  <h2>Number Of Servings:</h2>
                  {{ form.servings }}
               </div>
               <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                  <h2>Publish or Save as Draft:</h2>
                  {{ form.status }}
               </div>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
               <strong>Form Errors:</strong>
               <ul>
                  {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                  {% endfor %}
               </ul>
            </div>
            {% endif %}
            <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
               <h2>Inngredients here:</h2>
               <div>
                  <div id="ingredient-formset-container">

                     <!-- Ingredient formset -->
                     {{ form.ingredient_formset.management_form }}
                     <h3>{{ ingredient_formset.name.label_tag }} {{ form.quantity.label_tag }} {{ form.unit.label_tag }}
                     </h3>
                     {% for form in form.ingredient_formset %}
                     <div class="formset-row show">

                        <!-- {{ form.name.label_tag }} -->
                        {{ form.name }}
                        {{ form.name.errors }}
                        <!-- {{ form.quantity.label_tag }} -->
                        {{ form.quantity }}
                        {{ form.quantity.errors }}
                        <!-- {{ form.unit.label_tag }} -->
                        {{ form.unit }}
                        {{ form.unit.errors }}
                        {{ form.DELETE }} {# Include the DELETE input for each formset row #}

                        <button type="button" name="remove-ingredient" class="btn-like list-button remove-ingredient">
                           <i class="fa-solid fa-circle-minus"></i>
                        </button>
                        <button type="button" name="add-ingredient" class="btn-like list-button add-ingredient">
                           <i class="fa-solid fa-circle-plus"></i>
                        </button>
                     </div>
                     {% endfor %}
                     <!-- <button type="button" name="add-ingredient" class="btn-like list-button add-ingredient">
                     <i class="fa-solid fa-circle-plus"></i>
                  </button> -->
                  </div>
               </div>
               {% if form.ingredient_formset.errors %}

               <div class="alert alert-danger" role="alert">
                  <strong>Formset Errors:</strong>
                  <ul>
                     {% for error in form.ingredient_formset.errors %}
                     <li>{{ error }}</li>
                     {% endfor %}
                  </ul>
               </div>
               {% endif %}
            </div>
            <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 py-4">
               <button class="btn btn-primary btn-lg save-recipe-btn" type="submit" name="submit_action" value="save_recipe">Save
                  Recipe</button>
               <button class="btn btn-secondary btn-lg hide save-recipe-btn" type="submit" name="submit_action" value="save_draft">Save
                  as Draft</button>
            </div>

         </form>


      </div>
   </div>
</div>

{% endblock content %}