{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<!-- Leave page modal -->
<!-- <div id="leaveRecipe" class="modal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Leave Page</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to leave? Any unsaved changes will be lost.</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Leave</button>
         </div>
      </div>
   </div>
</div> -->
{% if messages %}
  <ul class="messages">
    {% for message in messages %}

    {% endfor %}
  </ul>
{% endif %}
<div class="container-lg">

   <div class="row">
      <div class="col-12 text-center py-4">
         <h1 class="special-text">Add New Recipe:</h1>
      </div>
      <div class="col-lg-8 offset-lg-2 col-12 print-size">
         <form method="post" enctype="multipart/form-data" action="{% url 'add_recipe' %}" id="add-recipe-form"
            class="recipe-form">
            {% csrf_token %}
            <div class="row">
               <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2 title-box">
                  <h2>{{ form.title.label_tag }}</h2>
                  {{ form.title }}
                  {% if form.title.errors %}
                  <div class="alert alert-danger">
                     {{ form.title.errors.0 }}
                  </div>
                  {% endif %}
               </div>
               <!-- <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 form-group instruction-box flex-fill">
                  <h2>Instructions:</h2>
                  <textarea name="instructions" cols="40" rows="10" class="instruction-steps" id="id_instructions"
                     style="display: none;"></textarea>
                  <ol class="instruction-list">
                     <li class="my-1 instruction-list-item">
                        <input type="text" class="d-inline form-control instruction-input-field" required
                           placeholder="Add cooking instruction here..." maxlength="350" name="instruction-step">
                        <button type="button" class="btn-like list-button remove-instruction">
                           <i class="fa-solid fa-circle-minus"></i>
                        </button>
                        <button type="button" name="add-instruction" class="btn-like list-button add-instruction">
                           <i class="fa-solid fa-circle-plus"></i>
                        </button>
                     </li>
                  </ol>
               </div> -->

               <!-- textarea input field replacement test below -->
               <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2 form-group instruction-box">

                  <h2>Instructions:</h2>
                  <textarea name="instructions" cols="40" rows="10" class="instruction-steps" id="id_instructions"
                     style="display: none;"></textarea>
                  <ol class="instruction-list">
                     <li class="my-1 instruction-list-item ">
                        <div class="input-group instruction-textarea-field my-1">
                           <textarea name="instruction-step" cols="40" rows="2"
                              class="d-inline form-control instruction-input-field" required
                              placeholder="Add cooking instruction here..." maxlength="350"
                              name="instruction-step"></textarea>
                           <button class="btn btn-outline-secondary remove-instruction" type="button"><i
                                 class="fa-solid fa-minus"></i></button>
                           <button class="btn btn-outline-secondary add-instruction" type="button"><i
                                 class="fa-regular fa-plus"></i></button>
                        </div>
                     </li>
                  </ol>
                  <div class="empty-error alert alert-danger hide">
                     <!-- error message goes here -->
                  </div>
               </div>

               <!-- end of the test -->
               {% if form.instructions.errors %}
               <div class="alert alert-danger">
                  {{ form.instructions.errors.0 }}
               </div>
               {% endif %}
               <!-- Recipe image section -->
               <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2 add-image">
                  <div class="row">
                     <div class="col-md-6 offset-md-3 col-8 offset-2 my-2">
                        <label for="id_featured_image">
                           <img src="https://res.cloudinary.com/dcrbeonr9/image/upload/v1702837530/add-image_dybsov.png"
                              alt="Add image placeholder" class="dish-image round-border transparent-image"
                              style="width: 100%;">
                        </label>
                     </div>
                     <div class="col-12 add-image">
                        <h2>Add Recipe Image Here:</h2>
                        {{ form.featured_image }}
                        {% if form.featured_image.errors %}
                        <div class="alert alert-danger">
                           {{ form.featured_image.errors.0 }}
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
               <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2">
                  <h2>Provide Short Description:</h2>
                  {{ form.excerpt }}
                  {% if form.excerpt.errors %}
                  <div class="alert alert-danger">
                     {{ form.excerpt.errors.0 }}
                  </div>
                  {% endif %}
               </div>
               <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2">
                  <div class="row">
                     <div class="col-lg-6 col-12">
                        <h2>Prep Time:</h2>
                        {{ form.prep_time }} <span>minutes</span>
                     </div>
                     {% if form.prep_time.errors %}
                     <div class="alert alert-danger">
                        {{ form.prep_time.errors.0 }}
                     </div>
                     {% endif %}
                     <div class="col-lg-6 col-12">
                        <h2>Cook Time: </h2>
                        {{ form.cook_time }} <span>minutes</span>
                     </div>
                     {% if form.cook_time.errors %}
                     <div class="alert alert-danger">
                        {{ form.cook_time.errors.0 }}
                     </div>
                     {% endif %}
                  </div>
               </div>
               <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2">
                  <h2>Number Of Servings:</h2>
                  {{ form.servings }}
                  {% if form.servings.errors %}
                  <div class="alert alert-danger">
                     {{ form.servings.errors.0 }}
                  </div>
                  {% endif %}
               </div>
               <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2">
                  <h2>Publish or Save as Draft:</h2>
                  {{ form.status }}
               </div>
            </div>

            <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2">
               <h2>Ingredients here:</h2>
               <div>
                  <div id="ingredient-formset-container">

                     <!-- Ingredient formset -->
                     {{ form.ingredient_formset.management_form }}
                     <h3>{{ ingredient_formset.name.label_tag }} {{ form.quantity.label_tag }} {{ form.unit.label_tag }}
                     </h3>
                     {% for form in form.ingredient_formset %}
                     <div class="formset-row show">

                        <!-- {{ form.name }}
                        {{ form.name.errors }}
                        {{ form.quantity }}
                        {{ form.quantity.errors }}
                        {{ form.unit }}
                        {{ form.unit.errors }}
                        {{ form.DELETE }} {# Include the DELETE input for each formset row #}

                        <button type="button" name="remove-ingredient" class="btn-like list-button remove-ingredient">
                           <i class="fa-solid fa-circle-minus"></i>
                        </button>
                        <button type="button" name="add-ingredient" class="btn-like list-button add-ingredient">
                           <i class="fa-solid fa-circle-plus"></i>
                        </button> -->
                        <!-- updated formset style -->
                        <!-- updated form.units and delete with buttons -->
                        <div class="input-group my-1">
                           {{ form.name }}
                           {% if form.name.errors %}
                           <div class="alert alert-danger">
                               {{ form.name.errors.0 }}
                           </div>
                           {% endif %}

                           {{ form.quantity }}
                           {% if form.quantity.errors %}
                           <div class="alert alert-danger">
                               {{ form.quantity.errors.0 }}
                           </div>
                           {% endif %}
                           {{ form.unit }}
                           {{ form.DELETE }} {# Include the DELETE input for each formset row #}
                           {{ form.id }}
                           <button class="btn btn-outline-secondary remove-ingredient" type="button"
                               name="remove-ingredient"><i class="fa-solid fa-minus"></i></button>
                           <button class="btn btn-outline-secondary add-ingredient" type="button"
                               name="add-ingredient"><i class="fa-regular fa-plus"></i></button>
                       </div>

                     </div>
                     {% endfor %}
                     <!-- <button type="button" name="add-ingredient" class="btn-like list-button add-ingredient">
                     <i class="fa-solid fa-circle-plus"></i>
                  </button> -->
                  </div>
               </div>
               <!-- {% if form.ingredient_formset.errors %}

               <div class="alert alert-danger" role="alert">
                  <strong>Formset Errors:</strong>
                  <ul>
                     {% for error in form.ingredient_formset.errors %}
                     <li>{{ error }}</li>
                     {% endfor %}
                  </ul>
               </div>
               {% endif %} -->
            </div>
            <div class="col-lg-8 offset-lg-2 col-12 my-lg-4 my-2 py-4">
               <button class="btn btn-primary btn-lg save-recipe-btn" type="submit" name="submit_action"
                  value="save_recipe">Save
                  Recipe</button>
               <button class="btn btn-secondary btn-lg hide save-recipe-btn" type="submit" name="submit_action"
                  value="save_draft">Save
                  as Draft</button>
            </div>

         </form>


      </div>
   </div>
</div>

{% endblock content %}