{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h2> Body - Index Page! <i class="fa-solid fa-utensils"></i></h2>
                <p class="special-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit beatae
                    sunt tenetur. Vitae ex officia fugiat aspernatur in beatae repudiandae tempore delectus, aut
                    repellendus consequuntur praesentium exercitationem ad corporis itaque.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, quam distinctio. Voluptate,
                    alias ut repudiandae ad eius cumque ipsa sint beatae, obcaecati nemo ipsam animi eveniet iste
                    delectus similique facere!</p>
            </div>
        </div>
    </div>

</div>

{%endblock%}