{% extends "base.html" %}

{% block head %}
<!-- Favicon-->
<link rel="icon" type="image/x-icon"
    href="https://res.cloudinary.com/dcrbeonr9/image/upload/v1700594313/favicon-app_qs3q5b.ico">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                <div class="col-12 mb-3">
                    <h2 class="d-inline"> Body - Index Page! <i class="fa-solid fa-utensils"></i></h2>
                    {% if user.is_authenticated %}
                    <span><a href="{% url 'add_recipe' %}"><i class="fa-solid fa-square-plus"></i> Add Recipe</a></span>
                    {% endif %}
                </div>

                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
                        </li>
                        {% endif %}
                        <!-- https://docs.djangoproject.com/en/4.2/ref/paginator/#methods -->
                        {% for i in paginator.page_range %}
                        <li class="page-item {% if i == page_obj.number %}active{% endif %}">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                        {% endif %}
                    </ul>
                </nav>
                {% endif %}

                {% for recipe in recipe_list %}
                <!-- Recipe entries columns -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card mb-4 recipe-card">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipe.featured_image.url %}
                                <img src="https://res.cloudinary.com/dcrbeonr9/image/upload/v1700598678/image-placeholder_gmlf30.png"
                                    alt="Image coming soon placeholder" class="card-img-top image-fluid">
                                {% else %}
                                <img src="{{ recipe.featured_image.url }}" alt="Image of {{ recipe.title}}"
                                    class="card-img-top image-fluid">
                                {% endif %}
                            </div>

                            <a href="{% url 'recipe_detail' recipe.slug %}" class="post-link">
                                <h3 class="card-title">
                                    {{ recipe.title }}
                                    {% if recipe.status == 0 %}
                                    <span class="badge bg-warning text-dark">Draft</span>
                                    {% endif %}
                                </h3>
                                <p class="card-text"> {{ recipe.excerpt }}</p>
                            </a>
                            <p class="author">Author: {{ recipe.author }}</p>
                            <div class="card-footer">
                                <p class="card-text text-muted h6 d-inline">
                                    {{ recipe.created_on}} <i class="fa-solid fa-heart like-heart"></i>
                                    {{ recipe.number_of_likes }}
                                </p>
                                <span class="d-inline">
                                    <i class="fa-solid fa-star full-stars"></i> {{ recipe.average_rating }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a>
            </li>
            {% endif %}
            <!-- https://docs.djangoproject.com/en/4.2/ref/paginator/#methods -->
            {% for i in paginator.page_range %}
            <li class="page-item {% if i == page_obj.number %}active{% endif %}">
                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}

{% for recipe in recipe_list %}
<!-- Recipe entries columns -->
<div class="col-lg-4 col-md-6 col-12">
    <div class="card mb-4 recipe-card">
        <!-- your card content here -->
    </div>
</div>
{% if forloop.counter|divisibleby:2 and not forloop.last %}
</div><!-- close the row every 2 recipes for medium and small screens -->
<div class="row">
    {% endif %}
    {% endfor %}