{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-lg">

    <div class="row">
        <div class="col-12 text-center py-4">
            <h1>Update Recipe: <span class="special-text d-block">{{ recipe.title|title }}</span></h1>
        </div>
        <div class="col-md-8 offset-md-2 col-12 print-size">
            <form method="post" enctype="multipart/form-data" action="{% url 'update_recipe' slug=recipe.slug %}"
                id="udpate-recipe-form" class="recipe-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 title-box">
                        <h2>{{ update_recipe_form.title.label_tag }}</h2>
                        {{ update_recipe_form.title }}
                        {% if update_recipe_form.title.errors %}
                        <div class="alert alert-danger alert-dismissible fade show form-alert" id="title-error-update">
                            {{ update_recipe_form.title.errors.0 }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    </div>

                    <!-- updated instruction box -->
                    <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 form-group instruction-box">
                        <h2>Instructions:</h2>
                        <div id="update-instruction-text">
                            {{ update_recipe_form.instructions|safe }}
                            <ol class="instruction-list" id="update-instruction-list">
                                <!-- Input fields are created here -->
                            </ol>
                        </div>
                        <div class="empty-error alert alert-danger hide">
                            <!-- error message goes here -->
                        </div>
                    </div>
                    <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 add-image">
                        <h2>Update {{ update_recipe_form.featured_image.label_tag }}</h2>
                        <!-- <div class="col-md-8 offset-md-2 col-12 my-2">
                            <label for="id_featured_image">
                                {% if not "placeholder" in recipe.featured_image.url %}
                                <img src="{{ image.url }}" alt="{{ recipe.title }} image"
                                    class="img-fluid d-block round-border update-image">
                                {% else %}
                                <img src="https://res.cloudinary.com/dcrbeonr9/image/upload/v1702837530/add-image_dybsov.png"
                                    alt="Add image placeholder"
                                    class="img-fluid d-block round-border update-image transparent-image">
                                {% endif %}
                            </label>
                        </div> -->
                        <br>
                        {{ update_recipe_form.featured_image }}
                        {% if update_recipe_form.featured_image.errors %}
                        <div class="alert alert-danger alert-dismissible fade show form-alert">
                            {{ update_recipe_form.featured_image.errors.0 }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                        <h2>Update Description {{ update_recipe_form.excerpt.label_tag }}</h2>

                        <p>
                            {{ update_recipe_form.excerpt }}
                        </p>
                        {% if update_recipe_form.excerpt.errors %}
                        <div class="alert alert-danger alert-dismissible fade show form-alert">
                            {{ update_recipe_form.excerpt.errors.0 }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <h2>{{ update_recipe_form.prep_time.label_tag }}</h2>
                                {{ update_recipe_form.prep_time }} <span>minutes</span>
                                {% if update_recipe_form.prep_time.errors %}
                                <div class="alert alert-danger alert-dismissible fade show form-alert">
                                    {{ update_recipe_form.prep_time.errors.0 }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 col-12">
                                <h2>{{ update_recipe_form.cook_time.label_tag }}</h2>
                                {{ update_recipe_form.cook_time }} <span>minutes</span>
                                {% if update_recipe_form.cook_time.errors %}
                                <div class="alert alert-danger alert-dismissible fade show form-alert">
                                    {{ update_recipe_form.cook_time.errors.0 }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                        <h2>Number Of {{ update_recipe_form.servings.label_tag }}</h2>
                        {{ update_recipe_form.servings }}
                        {% if update_recipe_form.servings.errors %}
                        <div class="alert alert-danger alert-dismissible fade show form-alert">
                            {{ update_recipe_form.servings.errors.0 }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                        <h2>{{ update_recipe_form.status.label_tag }}</h2>
                        {{ update_recipe_form.status }}
                    </div>
                </div>

                <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2">
                    <h2>Ingredients:</h2>
                    <div id="ingredient-formset-container">

                        {{ ingredient_formset.management_form }}

                        {% for form in ingredient_formset %}
                        <div class="formset-row show">
                            <div class="input-group my-1">
                                <h3 class="visually-hidden">{{ form.name.label_tag }}</h3>
                                {{ form.name }}
                                {% if form.name.errors %}
                                <div class="alert alert-danger alert-dismissible fade show form-alert ingredient-alert">
                                    {{ form.name.errors.0 }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                {% endif %}
                                <h3 class="visually-hidden">{{ form.quantity.label_tag }}</h3>
                                {{ form.quantity }}
                                {% if form.quantity.errors %}
                                <div class="alert alert-danger alert-dismissible fade show form-alert ingredient-alert">
                                    {{ form.quantity.errors.0 }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                {% endif %}

                                {{ form.unit }}
                                {{ form.DELETE }} {# Include the DELETE input for each formset row #}
                                {{ form.id }}
                                <button class="btn btn-outline-secondary remove-ingredient" type="button"
                                    name="remove-ingredient"><i
                                        class="fa-solid fa-minus"></i></button>
                                <button class="btn btn-outline-secondary add-ingredient" type="button"
                                    name="add-ingredient"><i
                                        class="fa-regular fa-plus"></i></button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8 offset-md-2 col-12 my-lg-4 my-2 py-4">
                    <button class="btn btn-primary btn-lg" type="submit" name="submit_action" value="save_recipe"
                        aria-label="Update Recipe">
                        Save Recipe
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}