{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-lg">

    <div class="row">
        <div class="col-md-6 col-12 print-size">

            <form method="post" enctype="multipart/form-data" action="{% url 'update_recipe' slug=recipe.slug %}">
                {% csrf_token %}

                {{ update_recipe_form.as_p }}
                <hr>
                <div id="ingredient-formset-container">

                    {{ ingredient_formset.management_form }}

                    {% for form in ingredient_formset %}
                    <div class="formset-row show">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        {{ form.name.errors }}
                        {{ form.quantity.label_tag }}
                        {{ form.quantity }}
                        {{ form.quantity.errors }}
                        {{ form.unit.label_tag }}
                        {{ form.unit }}
                        {{ form.unit.errors }}
                        {{ form.DELETE }} {# Include the DELETE input for each formset row #}
                        {{ form.id }}

                        <button type="button" name="remove-ingredient" class="btn-like remove-ingredient">
                            <i class="fa-solid fa-circle-minus"></i>
                        </button>
                        <button type="button" name="add-ingredient" class="btn-like add-ingredient">
                            <i class="fa-solid fa-circle-plus"></i>
                        </button>
                    </div>
                    {% endfor %}
                </div>


                Ingredients:
                <!-- {{ ingredient_formset.as_p }} -->

                <div>
                    {% if ingredient_formset.errors %}

                    <div class="alert alert-danger" role="alert">
                        <strong>Formset Errors:</strong>
                        <ul>
                            {% for error in ingredient_formset.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>

                <button type="submit">Submit</button>
        </div>
        </form>

    </div>
</div>
</div>



{% endblock content %}